body {
    font-family: Arial, sans-serif;
    background-color: #3C8333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 50px;
    font-family: 'Poppins';font-size: 22px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.card-animation {
    transform: scale(0); 
    transition: transform 0.5s ease-in-out; 
}

.dealerDiv, .playerDiv {
    background-color: #2E6328;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.button-container {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.value-container{
    border:solid 3px white;
    border-radius: 10px;
    padding:10px;
}
.hand-container {
    display: flex;
    flex-wrap: nowrap;
    
    justify-content: flex-start;
    max-width: 100%; 
}

.hand-container img {
    max-width: 150px;
    margin-right: 10px; 
}
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


h1 {
    font-size: 24px;
}

#dealerValue, #playerValue {
    font-size: 18px;
    margin-top: 10px;
}

#resultHeader {
    font-size: 36px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#hitBtn:hover, #standBtn:hover {
    background-color: #0056b3;
}

#restartBtn {
    background-color: red;
    width:100px;
    height: 75px;
}

#restartBtn:hover {
    background-color: black;

}

h1 {
    text-decoration: underline;

}

h1 {
    text-decoration: underline;

}